[Unit]
Description=Automated Borg Backup: dotfiles

[Service]
Type=oneshot
ExecStart=/bin/borg create \
               --stat --compression zlib \
               /home/alex/Backup/borg/k-2so-alex-dotfiles::{now} \
               /home/alex/.Xauthority           \
               /home/alex/.Xresources           \
               /home/alex/.emacs                \
               /home/alex/.gdbinit              \
               /home/alex/.git                  \
               /home/alex/.gitconfig            \
               /home/alex/.gnupg                \
               /home/alex/.ssh                  \
               /home/alex/.vnc                  \
               /home/alex/.pam_environment      \
               /home/alex/.zshrc.local          \
               --exclude '/home/alex/.atom/blob-store'    \
               --exclude '/home/alex/.atom/compile-cache' \
               --exclude '/home/alex/.atom/dev'           \
               --exclude '/home/alex/.atom/storage'       \
               --exclude '/home/alex/.atom/.apm'          \
               --exclude '/home/alex/.atom/.node-gyp'     \
               --exclude '/home/alex/.atom/.npm'

# This is the default scheduling class
IOSchedulingClass=best-effort
# This is the second to lowest priority
IOSchedulingPriority=6

[Install]
WantedBy=default.target