[Unit]
Description=Borg Backup: dotfiles

[Service]
Type=oneshot

Environment=HOST=loki
Environment=USER=kate
Environment=REPO=dotfiles

ExecStart=/bin/borg create \
    --verbose              \
    --stat --compression zlib \
    /home/${USER}/Backup/borg/${HOST}-${USER}-${REPO}::{now} \
    /home/${USER}/.Xauthority           \
    /home/${USER}/.Xresources           \
    /home/${USER}/.bashrc               \
    /home/${USER}/.bash_logout          \
    /home/${USER}/.bash_profile         \
    /home/${USER}/.config/i3            \
    /home/${USER}/.config/i3status      \
    /home/${USER}/.config/termite       \
    /home/${USER}/.emacs                \
    /home/${USER}/.ssh                  \
    /home/${USER}/.vnc                  \
    /home/${USER}/.zprofile             \
    /home/${USER}/.zshrc.local
ExecStart=/bin/borg check \
    --verbose             \
    /home/${USER}/Backup/borg/${HOST}-${USER}-${REPO}
ExecStart=/bin/borg prune \
    --verbose             \
    --keep-within  3d     \
    --keep-daily   30     \
    --keep-monthly 11     \
    --keep-yearly   5     \
    /home/${USER}/Backup/borg/${HOST}-${USER}-${REPO}
