[Unit]
Description=Automated Borg Backup: Documents

[Service]
Type=oneshot
ExecStart=/bin/borg create \
                    --stat --compression zlib \
                    /home/alex/Backup/borg/k-2so-alex-documents::{now} /home/alex/Documents
# This is the default scheduling class
IOSchedulingClass=best-effort
# This is the second to lowest priority
IOSchedulingPriority=6

[Install]
WantedBy=default.target