[Unit]
Description=Borgmatic: Timer for the Automated Borg Backup

[Timer]
WakeSystem=false

OnBootSec=20m
OnActiveSec=1h

[Install]
WantedBy=timers.target